[submodule "themes/hugo-theme-bleak"]
	path = themes/hugo-theme-bleak
	url = https://github.com/Zenithar/hugo-theme-bleak.git
[submodule "public"]
	path = public
	url = https://github.com/marksteele/marksteele.github.io.git
	branch = master
