[submodule "public"]
	path = public
	url = https://github.com/marksteele/marksteele.github.io.git
	branch = master
[submodule "themes/dream-plus"]
	path = themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
	branch = a066d064c571c521a971cc8fa3a1d19d2905f76d
